# Dependency directories
node_modules/
.vscode/
.firebase/

coverage/
build/
docs/

/cypress/
/source/cypress
/source/js/taskList.test.js
cypress.json

source/cypress_tests/package-lock.json
source/cypress_tests/package.json
