/************************************
 * Declare and initialize variables *
 ************************************/

:root {
  --white: #fff;
  --black: #000;
  --darkest-blue: #050a3f;
  --dark-blue: #1f288f;
  --blue: #539eff;
  --light-blue: #eaeaf5;
  --red: #f00;
  --light-green: #b1f060;
  --green: #178800;
  --dark-green: #00570e;
  --grey: #949697;
  --transparent: #0000;
}

/***********************
 * Color for HTML Tags *
 ***********************/

hr {
  color: var(--grey);
}

/********************
 * Color for header *
 ********************/

.header-container {
  background-color: var(--dark-blue);
  background-image: linear-gradient(to right, var(--darkest-blue), var(--dark-blue), var(--blue));
}

/************************************
 * Color for Navigation Bar Buttons *
 ************************************/

.theme-btn {
  color: var(--dark-blue);
}

.theme-btn:hover {
  color: var(--light-green);
}

.task-btn {
  color: var(--dark-blue);
}

.task-btn:hover {
  color: var(--light-green);
}

.info-btn-new {
  color: var(--dark-blue);
}

.info-btn-new:hover {
  color: var(--light-green);
}

/*****************************
 * Color for Slide-out Tasks *
 *****************************/

.sidenav {
  background-color: var(--white);
}

.btn {
  color: var(--dark-blue);
}

.btn:hover:enabled,
.close:hover {
  color: var(--light-green);
}

.btn:disabled {
  color: var(--grey);
}

.close {
  color: var(--black);
}

.close:hover {
  color: var(--red);
}

/****************************
 * Color for Pomodoro Timer *
 ****************************/

.timer-section {
  background-color: var(--white);
}

.timer-box {
  background-color: var(--dark-blue);
  background-image: linear-gradient(to right, var(--darkest-blue), var(--dark-blue), var(--blue));
  border-color: var(--white);
}

.timer {
  background-color: var(--transparent);
}

#time-display {
  color: var(--white);
}

#work-message {
  color: var(--white);
}

#pomos-completed {
  color: var(--white);
}

.custom-btn {
  border-color: var(--white);
  color: var(--white);
  background-color: var(--transparent);
}

.custom-btn:hover:enabled {
  background-color: var(--white);
  color: var(--dark-blue);
}

.custom-btn:disabled {
  background-color: var(--grey);
}

/****************************
 * Color for Viewable Tasks *
 ****************************/

.middle-container {
  background-color: var(--white);
}

#current {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--dark-blue);
}

#next {
  background-color: var(--light-blue);
  border-color: var(--dark-blue);
}

/**************************
 * Color for Instructions *
 **************************/

.instruct-head {
  color: var(--white);
  background-color: var(--dark-orange);
  background-image: linear-gradient(to right, var(--dark-green), var(--green), var(--light-green));
}

#instructions-para {
  background-color: var(--white);
}

.instruct-bottom {
  background-color: var(--dark-orange);
  background-image: linear-gradient(to right, var(--dark-green), var(--green), var(--light-green));
}

.arrow-up-icon {
  color: var(--white);
}

.arrow-up-icon:hover {
  color: var(--black);
}

/********************
 * Color for Footer *
 ********************/

.copy-right {
  background-color: var(--white);
  color: var(--black);
}
