/************************************
 * Declare and initialize variables *
 ************************************/

 :root {
  --white: #fff;
  --black: #000;
  --dark-blue: #1f288f;
  --light-blue: #eaeaf5;
  --dark-orange: #e07d0b;
  --light-orange: #f0c568;
  --grey: #949697;
}

/***********************
 * Color for HTML Tags *
 ***********************/

hr {
  color: var(--grey);
}

button:disabled {
  background-color: var(--grey);
}

/********************
 * Color for header *
 ********************/

.header-container {
  background-color: var(--dark-blue);
}

/************************
 * Color for Navigation *
 ************************/

.info-btn {
  color: var(--white);
  background-color: var(--dark-blue);
}

.info-btn:hover:enabled {
  background-color: var(--light-orange);
}

.task-btn {
  color: var(--dark-blue);
}

.task-btn:hover {
  color: rgb(240, 197, 104);
}

/*****************************
 * Color for Slide-out Tasks *
 *****************************/

.sidenav {
  background-color: var(--white);
}

.btn {
  color: var(--dark-blue);
}

.btn:hover {
  color: rgb(240, 197, 104);
}

/****************************
 * Color for Pomodoro Timer *
 ****************************/

.timer-section {
  background-color: var(--white);
}

.timer-box {
  background-color: var(--dark-blue);
}

.timer {
  background-color: var(--dark-blue);
}

#time-display {
  color: var(--white);
}

#work-message {
  color: var(--white);
}

#pomos-completed {
  color: var(--white);
}

.custom-btn {
  border-color: var(--white);
  color: var(--white);
  background: var(--dark-blue);
}

.custom-btn:hover:enabled {
  background-color: var(--white);
  color: var(--dark-blue);
}

/****************************
 * Color for Viewable Tasks *
 ****************************/

.middle-container {
  background-color: var(--white);
}

#current {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--dark-blue);
}

#next {
  background-color: var(--light-blue);
  color: rgb(48, 46, 46);
  border-color: var(--dark-blue);
}

/**************************
 * Color for Instructions *
 **************************/

.instruct-head {
  color: var(--white);
  background-color: var(--dark-orange);
}

#instructions-para {
  background-color: var(--white);
}

.arrow-up-icon {
  color: var(--white);
}

.instruct-bottom {
  background-color: var(--dark-orange);
}

.arrow-up-icon:hover {
  color: var(--black);
}

/********************
 * Color for Footer *
 ********************/

.copy-right {
  background-color: var(--dark-blue);
  color: var(--white);
}