/************************************
 * Declare and initialize variables *
 ************************************/

:root {
  --red: #f00;
  --green: #178800;
  --secondary-color: #222222;
  --light-grey: #828282;
  --transparent: #0000;
  --alm-transparent: #0000006b;
  --less-transparent: #0000009c;
  --least-transparent: #000000e8;
  --light-color: #d6d6d6;
}

/*******************************
  * Background image for theme *
  ******************************/

.full-height {
  background-image: url("../assets/img/bground/1.jpg");
  background-size: cover;
}

@media (max-height: 2160px) and (max-width: 3840px) {
  .full-height {
    background-image: url("../assets/img/bground/bg-3840w.webp");
  }
}

@media (max-height: 1440px) and (max-width: 2560px) {
  .full-height {
    background-image: url("../assets/img/bground/bg-2560w.webp");
  }
}

@media (max-height: 1080px) and (max-width: 1920px) {
  .full-height {
    background-image: url("../assets/img/bground/bg-1920w.webp");
  }
}

@media (max-height: 720px) and (max-width: 1280px) {
  .full-height {
    background-image: url("../assets/img/bground/bg-1280w.webp");
  }
}

@media (max-height: px) and (max-width: 640px) {
  .full-height {
    background-image: url("../assets/img/bground/bg-640w.webp");
  }
}

/***********************
  * Color for HTML Tags *
  ***********************/

hr {
  color: var(--light-grey);
}

/********************
  * Color for header *
  ********************/

.header-container {
  background-color: var(--less-transparent);
}

/*****************************
  * Color for Error messages *
  ****************************/

.error-mssg {
  background-color: var(--transparent);
  color: var(--transparent);
}

.color-error {
  color: var(--red);
}

/*****************************
  * Color for Slide-out Tasks *
  *****************************/

.sidenav-blocker {
  background-color: var(--less-transparent);
}

.sidenav {
  background-color: var(--secondary-color);
  color: white;
}

input[type=text] {
  background-color: var(--secondary-color);
  color: white;
}

/*****************************
 * Color for Buttons *
 *****************************/
.btn {
  color: white;
}

.btn:disabled {
  color: var(--light-grey);
}

.btn:hover:enabled {
  color: var(--green);
}

#add-btn,
#delete-btn {
  color: white;
}

#add-btn:disabled {
  color: var(--light-grey);
}

#add-btn:hover:enabled {
  color: var(--green);
}

.close {
  color: white;
}

.close2 {
  color: white;
}

.close:hover,
.close2:hover,
#delete-btn:hover:enabled {
  color: var(--red);
}

/****************************
  * Color for Pomodoro Timer *
  ****************************/

.timer-section {
  background-color: var(--transparent);
}

.timer-box {
  background-color: var(--less-transparent);
  border-color: white;
}

.timer {
  background-color: var(--transparent);
}

#time-display {
  color: white;
}

#work-message {
  color: white;
}

#pomos-completed {
  color: white;
}

.custom-btn {
  border-color: white;
  color: white;
  background-color: var(--transparent);
}

.custom-btn:disabled {
  background-color: var(--light-grey);
}

.custom-btn:hover:enabled {
  background-color: white;
  color: black;
}

/****************************
  * Color for Viewable Tasks *
  ****************************/

.middle-container {
  background-color: var(--transparent);
  color: white;
}

#current {
  background-color: var(--less-transparent);
  color: white;
  border-color: white;
}

#next {
  background-color: var(--less-transparent);
  border-color: white;
}

/**************************
  * Color for Instructions *
  **************************/

.instructions-section-blocker {
  background-color: var(--less-transparent);
}

.instructions-section {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.instruct-head, .inst-headers {
  color: white;
}

/********************
  * Color for Footer *
  ********************/

.copy-right {
  background-color: black;
  color: white;
}
