/*********************
 * Styling HTML Tags *
 *********************/

/**
 * Entire document body
 */
body {
  text-align: center;
  margin: 0;
}

/******************
 * Fit one screen *
 ******************/

/**
 * Lets the container cover one entire screen
 */
.full-height {
  min-height: 100vh;
}

/**********************
 * Styling Top Header *
 **********************/

/**
 * Container for Header - includes logo and title
 */
.header-container {
  padding: 10px 0;
}

/**
 * PomoHero App Logo
 */
.pomo-logo {
  width: 45px;
  margin-left: 5px;
  float: left;
}

/**
 * Image of PomoHero title
 */
.banner {
  width: 250px;
  margin: 0 80px 0 0;
}

/**************************
 * Styling Navigation Bar *
 **************************/

/**
 * Styling for information button
 */
.info-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 90px;
  border-radius: 50%;
  opacity: 80%;
  font-family: 'Calibri', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

/**
 * Styling for task button
 */
.task-btn {
  margin-right: 50px;
  position: absolute;
  right: 15px;
  top: 90px;
  border-radius: 15px;
  opacity: 80%;
  cursor: pointer;
}

/***************************
 * Styling Slide-out tasks *
 ***************************/

/**
 * Container for slide-out tasks
 */
.sidenav {
  padding: 0 50px;
  height: 100%;
  display: none;
  width: auto;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0; 
  overflow-x: hidden;
  
}

@media screen and (max-width:900px) {
  .sidenav {
    max-width: 80%; /* The width is 50%, when the viewport is 900px or smaller */
  }
}

/**
 * Styling header for slide-out tasks
 */
#side-tasks  div > h1 {
  font-family: 'Georgia', 'Times New Roman', serif;
  padding: 30px;
  
}

/**
 * Horizontal rule used to separate add and show tasks
 */
#task-title hr {
  margin: 30px 0;
  border: 1px solid;
  background-color: black;
}

/**
 * All buttons within slide-out tasks
 */
.btn {
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}


/**
 * Close button inside slide-out tasks
 */
.close {
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: 25px;
}

/**
 * Input fields in order to show and add tasks
 */
input[type=text] {
  width: 340px;
  margin: 5px;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}

input {
  max-width: 89%;
}

/**
 * Container displaying all of the user tasks
 */
#all-tasks {
  height: 60vh;
  margin: 10px;
  padding: 10px;
  overflow: auto;
}

/**************************
 * Styling Pomodoro Timer *
 **************************/

/**
 * Outer container for Pomodoro Timer
 */
.top-container {
  margin: auto;
  height: auto;
  padding: auto;
}

/**
 * Inner container for Pomodoro Timer
 */
.main-box {
  padding: 10px 0 10px 0;
}

/**
 * Container for Pomodoro Timer
 */
.timer-box {
  border-radius: 3px;
  height: auto;
  width: 450px;
  margin: 45px auto 0 auto;
  padding: 20px 100px 15px 100px;
}

@media screen and (max-width:900px) {
  .timer-box {
    max-width: 50%; /* The width is 50%, when the viewport is 900px or smaller */
  }
}

/**
 * Message about the timer indicating works and breaks
 */
#work-message {
  font-size: 1.5rem;
  font-family: 'Georgia', 'Times New Roman', serif;
  padding-bottom: 15px;
}

/**
 * Styling for the timer
 */
#time-display {
  display: inline;
  font-size: 4rem;
  padding: 10px 30px;
  border-style: solid;
}

/**
 * Message about the number of Pomodoro Timers completed
 */
#pomos-completed {
  padding-top: 10px;
  font-family: 'Helvetica', 'Calibri', sans-serif;
  font-size: 1rem;
  margin: 25px 0 0 0;
}

/**
 * Small tomatos denoting if Pomodoro is completed
 */
.pomo-count {
  margin: 5px 5px 10px 5px;
  width: 25px;
}

/**
 * Styling Start and End buttons
 */
.custom-btn {
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  width: 150px;
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 10px;;
  border: 2px solid;
}

/**
 * Hiding buttons
 */
.hidden {
  display: none;
}

/**************************
 * Styling Viewable Tasks *
 **************************/

/**
 * Container for displaying current and next task
 */
.middle-container {
  padding: 0 10px 30px 10px;
  margin: auto;
  height: auto;
  font-family: 'Helvetica', 'Calibri', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.middle-container > h3 {
  position: relative;
}


@media screen and (max-width:900px) {
  .middle-container > div {
    max-width: 80%; /* The width is 80%, when the viewport is 900px or smaller */
  }
}

/**
 * Input field for displaying task description
 */
 .middle-container > div {
  width: 450px;
  margin: 0 5px;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}

/**
 * Check button beside the current task
 */
.check {
  margin-top: 5px;
  text-decoration: none;
  font-size: 2rem;
  position: absolute;
}

/************************
 * Styling Instructions *
 ************************/

/**
 * Container for instructions
 */
.instructions-section {
  margin: auto;
  min-height: 100vh;
}

/**
 * Styling the header in instructions section
 */
.instruct-head {
  margin-top: 0;
  padding: 15px;
  font-size: 2.5rem;
  font-family: 'Georgia', 'Times New Roman', serif;
}

/**
 * Paragraph of instructions within instructions section
 */
#instructions-para {
  margin: auto;
  width: auto;
  max-width: 900px;
  padding: 0 15px 0 15px;
  font-family: 'Helvetica', 'Calibri', sans-serif;
  font-size: 1rem;
  text-align: left;
  line-height: 25px;
}

#instructions-para > h3 {
  text-align: center;
}

/**
 * Displays as block-level flex container
 */
.flex {
  display: flex;
}

/**
 * Specifies direction of flexible item
 */
.flex-column {
  flex-direction: column;
}

/**
 * Styling the up arrow container
 */
.instruct-bottom {
  position: relative;
  padding: 5px;
}

/**
 * Styling up arrow button after instructions
 */
.arrow-up-icon {
  margin: auto;
  width: 50px;
  cursor: pointer;
}

/******************
 * Styling Footer *
 ******************/

/**
 * Styling the copyright in footer
 */
.copy-right {
  position: relative;
  padding: 30px;
  margin: auto;
  font-weight: 900;
  font-family: 'Helvetica', 'Calibri', sans-serif;
}