/************************************
 * Declare and initialize variables *
 ************************************/

:root {
  --btn-border: calc(0.5rem + 0.5vw);
  --box-border: calc(0.5rem);
}

/*********************
 * Styling HTML Tags *
 *********************/

/**
 * Entire document body
 */
body {
  text-align: center;
  margin: 0;
  font-family: Helvetica, Arial, Symbol, sans-serif;
}

/******************
 * Fit one screen *
 ******************/

/**
 * Lets the container cover one entire screen
 */
.full-height {
  min-height: 100vh;
}

/**********************
 * Styling Top Header *
 **********************/

/**
 * Container for Header - includes logo and title
 */
.header-container {
  padding: 10px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/**
 * PomoHero App Logo
 */
.pomo-logo {
  width: calc(2rem + 2vw);
  height: auto;
  margin-left: 5px;
  padding-left: 10px;
  float: left;
}

/**
 * Image of PomoHero title
 */
.banner {
  width: calc(10rem + 20vw);
  max-width: 400px;
  height: auto;
  padding-top: 5px;
  margin: auto;
}

#header-line {
  padding: 0;
  margin: 0;
  height: 1px;
  color: white;
  background-color: white;
}

/**************************
 * Styling Navigation Bar *
 **************************/

/**
 * Container to hold all navigation bar buttons
 */
.all-btns {
  padding: 10px 0;
  text-align: right;
}

/**
 * Styling theme changing button
 */
#theme-btn {
  position: relative;
  cursor: pointer;
}

/**
 * Styling for task button
 */
#task-btn {
  padding-right: 10px;
  position: relative;
  cursor: pointer;
}

/**
 * Styling for new info button
 */
#info-btn-new {
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

/**
 * Styling for buttons in general
 */
.btn {
  background: transparent;
  border: none !important;
  opacity: 100%;
  cursor: pointer;
  font-size: 2rem;
}

.btn:focus {
  outline: 2px solid white;
  border-radius: 8px;
}

.inert-btn {
  background: transparent;
  border: none !important;
  opacity: 100%;
  font-size: 1.75rem;
  padding: calc(0.25rem + 1vw);
}

#delete-btn {
  font-size: 1.75rem;
}

/***************************
 * Styling Slide-out tasks *
 ***************************/

/**
 * Container for slide-out tasks mask
 */
.sidenav-blocker {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/**
 * Container for slide-out tasks when closed
 */
.sidenav {
  padding: 0;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  box-shadow: -5px 5px 10px black;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transition: 0.3s;
}

/**
 * Container for slide-out tasks when open
 */
.sidenav-open {
  width: 420px;
  padding: 0 calc(1rem + 1vw);
}

/**
 * Container for slide-out tasks when screen-width <= 500
 */
.sidenav-small {
  width: 420px;
  padding: 0 10%;
}

/**
 * Styling container for header of task list
 */
#task-title {
  position: relative;
}

/**
 * Horizontal rule used to separate add and show tasks
 */
#task-title hr {
  margin: 30px 0;
  border: 1px solid;
}

/**
 * Fields for displaying task description
 */
.middle-container > div {
  overflow-x: auto;
  width: 450px;
  margin: 0 5px;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}

/**
 * Styling div placed immediately after h1 inside task-title
 */
#task-title > h1 + div {
  margin-bottom: 10px;
}

#task-title h1 {
  margin: calc(0.6rem + 1vw);;
}

#wrap-task {
  border-radius: var(--box-border);
  display: flex;
  padding: 10px 0;
  margin: 15px 10px;
  align-items: center;
  justify-content: center;
}

/**
 * Class for distinguishing draggable tasks
 */
.draggable {
  cursor: move;
}

/**
 * Class to indicate dragging/moving an task
 */
task-item[dragging=""] > div {
  opacity: 0.5;
}

/**
 * Wrapper for adding error messages to buttons
 */
.btn-wrapper {
  display: inline-block;
  position: relative;
}

/**
 * Class for styling error messages
 */
.error-mssg {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  width: auto;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 100;
}

/**
 * Positioning Add button error
 */
#wrap-add-btn #add-error {
  visibility: hidden;
  top: 100%;
  margin-top: 5px;
  margin-left: -385px;
}

/**
 * Positioning Edit button error
 */
#edit-error {
  visibility: visible;
  left: 4.3%;
}

/**
 * Styling add buttons
 */
#add-btn {
  position: relative;
  top: 5px;
}

/**
 * Close button inside slide-out modals
 */
.close {
  position: absolute;
  top: -0.25rem;
  right: calc(0.2rem + 1.5vw);
}

/**
 * Input fields in order to show and add tasks
 */
input[type=text] {
  width: 340px;
  max-width: 89%;
  margin: 5px;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}

/**
 * Container displaying all of the user tasks
 */
#all-tasks {
  margin-top: 25px;
  height: calc(100vh - 320px);
  width: 420px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#all-tasks::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#all-tasks {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#task-input-top {
  width: 80%;
}

#task-input {
  width: 70%;
}

/***************************
 * Styling Slide-out Settings *
 ***************************/

/**
 * Container for slide-out settings mask
 */
.settings-blocker {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/**
 * Container for slide-out settings when closed
 */
.settings-class {
  padding: 0;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  box-shadow: -5px 5px 10px black;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transition: 0.3s;
}

/**
 * Container for slide-out settings when open
 */
.settings-class-open {
  width: 420px;
  padding: 0 calc(1rem + 1vw);
}

/**
 * Styling container for header of settings
 */
#settings-title {
  position: relative;
}

/**
 * Styling div placed immediately after h1 inside task-title
 */
#settings-title > h1 + div {
  margin-bottom: 10px;
}

#settings-title h1 {
  margin: calc(0.6rem + 1vw);;
}

#all-settings {
  margin: 4rem 0;
}

.setting-wrap {
  margin: calc(1.5rem - 1vw) calc(0.5rem + 1vw) calc(2rem - 1vw);
}

.setting-wrap label {
  font-size: calc(0.5rem + 1vw);
}

.settings-btns {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.settings-custom-btn {
  font-size: calc(1rem + 1vw);
  padding: calc(0.75rem + 0.25vw) calc(1rem + .5vw);
  width: 10%;
  border: 1px solid;
  cursor: pointer;
}

.settings-custom-btn:focus {
  outline: 3px solid white;
}

.settings-custom-btn:first-child {
  border-top-left-radius: var(--btn-border);
  border-bottom-left-radius: var(--btn-border);
}

.settings-custom-btn:last-child {
  border-top-right-radius: var(--btn-border);
  border-bottom-right-radius: var(--btn-border);
}

.clicked-settings-btn,
.clicked-settings-btn:hover {
  cursor: default;
}

.centered-note {
  margin-top: 1.5vw;
  display: flex;
  justify-content: center;
}

.bottom-btn {
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  align-items: center;
  margin: 10px;
  border: 2px solid;
  padding: calc(0.5rem + 0.5vw);
  font-size: calc(0.75rem + 0.25vw);
  font-weight: 600;
}

/**************************
 * Styling Pomodoro Timer *
 **************************/

/**
 * Outer container for Pomodoro Timer
 */
.top-container {
  margin: auto;
  height: auto;
  padding: auto;
}

/**
 * Inner container for Pomodoro Timer
 */
.main-box {
  padding: 0 0 10px 0;
  text-align: center;
}

/**
 * Container for Pomodoro Timer
 */
.timer-box {
  border-radius: 3px;
  height: auto;
  width: 450px;
  margin: 0 auto 0 auto;
  padding: 20px 100px 15px 100px;
  border: 3px solid;
}

/**
 * Message about the timer indicating works and breaks
 */
#work-message {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

/**
 * Styling for the timer
 */
#time-display {
  display: inline;
  font-size: 4rem;
  padding: 10px 30px;
  border-style: solid;
}

/**
 * Message about the number of Pomodoro Timers completed
 */
#pomos-completed {
  padding-top: 10px;
  font-size: 1rem;
  margin: 25px 0 0 0;
}

/**
 * Small tomatos denoting if Pomodoro is completed
 */
.pomo-count {
  margin: 5px 5px 10px 5px;
  width: 25px;
  height: 25px;
}

/**
 * Styling Start and End buttons
 */
.custom-btn {
  border-radius: 10px;
  height: 40px;
  line-height: 1;
  width: 150px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  border: 2px solid;
}

/**
 * Hide
 */
.hidden {
  display: none;
}

/**
 * Take up Empty Space
 */
.empty {
  visibility: hidden;
}

/**
 * Positioning Reset button error
 */
#wrap-start-btn #reset-error {
  visibility: hidden;
  bottom: 100%;
  margin-left: -170px;
}

/**************************
 * Styling Viewable Tasks *
 **************************/

/**
 * Container for displaying current and next task
 */
.middle-container {
  padding: 0 20px 30px 10px;
  margin: auto;
  height: auto;
  font-size: 1rem;
  font-weight: 600;
}

/**
 * Headers in the middle container
 */
.middle-container > h3 {
  position: relative;
}

/**
 * Wrapper class for check button in Task Display
 */
#wrap-check-btn {
  margin-top: 2.5px;
  position: absolute;
}

/**
 * Positioning Check button error
 */
#wrap-check-btn #check-error {
  visibility: hidden;
  top: 100%;
  left: 50%;
  margin-left: -200px;
}

/**
 * Make buttons visible only upon hovering
 */
#wrap-check-btn:hover #check-error,
#wrap-end-btn:hover #reset-error {
  visibility: visible;
}

/************************
 * Styling Instructions *
 ************************/

/**
 * Container for instructions box mask
 */
#instructions-blocker {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  z-index: 2;
}

/**
 * Container for instructions when it is closed
 */
.instructions-section {
  overflow: hidden;
  position: fixed;
  transition: 0.3s;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  border-radius: 1rem;
  box-shadow: 0px 0px 50px black;
}

/**
 * Container for instructions when it is open
 */
.instructions-section-open {
  width: 80%;
  height: 90vh;
  border-width: 2px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.instructions-section-open::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.instructions-section-open {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/**
 * Styling the header in instructions section
 */
.instruct-head {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 15px 15px 5px 15px;
  font-size: 2.5rem;
}

/**
 * Styling individual sections inside instructions WC
 */
.inst-headers {
  margin-bottom: 10px;
  margin-top: 10px;
}

.inst-list {
  margin-top: 0;
}

.inst-hotkeys {
  margin-bottom: 5px;
  margin-top: 10px;
}

/**
 * Paragraph of instructions within instructions section
 */
#instructions-para {
  padding: 0 20px;
  margin: auto;
  width: auto;
  max-width: 900px;
  font-family: 'Helvetica', 'Calibri', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  align-items: left;
  line-height: 25px;
}

/**
 * Headers within the instruction para
 */
#instructions-para > h3 {
  text-align: left;
}

#instructions-para > h4 {
  text-align: left;
}

/**
 * Hotkey text styling
 */
#inst-hotkeys-text {
  margin-top: 0;
  text-align: center;
  font-size: 90%;
}

/**
 * Specifies direction of flexible item
 */
.flex-column {
  flex-direction: column;
}

/**
 * Right Align close button for instructions box
 */
.right-align {
  width: 100%;
  height: 50px;
  text-align: right;
}

/**
 * Style close button for instructions modal popup
 */
.close2 {
  position: absolute;
  top: 7.5vh;
  right: 12%;
}

#instructions-para li {
  align-items: center;
}

.inline-icon {
  margin: 0 calc(0.25rem + 0.25vw);
  color: white;
  font-size: calc(1rem + 0.5vw);
}

.inline-link {
  font-weight: 550;
  text-decoration: none;
}
.inline-link:hover {
  text-decoration: underline;
}

/************************
 * Styling Welcome Box *
 ************************/

/**
 * Container for instructions box mask
 */
#welcome-blocker {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  z-index: 2;
}

/**
 * Container for instructions when it is closed
 */
.welcome-section {
  overflow: hidden;
  position: fixed;
  transition: 0.3s;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  border-radius: 1rem;
  box-shadow: 10px black;
}

/**
 * Container for instructions when it is open
 */
.welcome-section-open {
  width: 80%;
  height: 90vh;
  border-width: 2px;
  overflow-y: auto;
  box-shadow: 0 0 50px black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.welcome-section-open::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.welcome-section-open {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/**
 * Styling the header in instructions section
 */
.welcome-head {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 15px 15px 5px 15px;
  font-size: calc(0.5rem + 3vw);
}

/**
 * Paragraph of instructions within instructions section
 */
#welcome-para {
  padding: 0 20px;
  margin: auto;
  width: auto;
  max-width: 900px;
  font-family: 'Helvetica', 'Calibri', sans-serif;
  font-size: calc(1rem + 0.75vw);
  text-align: left;
  align-items: left;
  line-height: calc(1.5rem + 0.5vw);
}

#welcome-para p {
  margin: calc(1rem + 0.25vw) 0 0 0;
}

.welc-list {
  padding-left: 5%;
}

.welc-list li {
  margin: calc(0.25rem + 0.25vw);
}

#final-thought-p {
  padding: calc(1rem + 0.25vw) 0;
}

/************************
 * Styling Error Notification *
 ************************/
#notification-blocker {
  position: fixed;
  top: 0;
  right: 30%;
  left: 30%;
  bottom: 40%;
  align-items: center;
  z-index: 2;
}

/**
 * Container for notification when it is open
 */
.notification-section-open {
  width: 30%;
  height: 28vh;
  border-width: 2px;
  overflow-y: auto;
}

/******************
 * Styling Footer *
 ******************/

/**
 * Styling the copyright in footer
 */
.copy-right {
  position: relative;
  padding: 30px;
  margin: auto;
  font-weight: 900;
}

/*************************************
 * Responsiveness with media queries *
 *************************************/

@media screen and (max-width: 900px) {
  .timer-box {
    max-width: 50%;
  }

  .sidenav {
    max-width: 80%;
  }

  .settings-class {
    max-width: 80%;
  }

  .settings-custom-btn {
    font-size: calc(1.25rem + 0.5vw);
    padding: calc(1rem + 0.25vw) calc(1.25rem + .25vw);
  }

  .setting-wrap label {
    font-size: calc(0.75rem + 0.5vw);
  }

  .centered-note footer {
    margin: 0.5rem;
    font-size: calc(0.75rem + 0.5vw);
  }

  .middle-container > div {
    max-width: 80%;
  }

  #instructions-para {
    font-size: 1.1rem;
    line-height: 24px;
  }

  .inst-list {
    padding-left: 6%;
  }

  .close2 {
    right: 15%;
  }
}

@media screen and (max-width: 750px) {
  #instructions-para {
    font-size: 1rem;
    line-height: 23px;
  }
}

@media screen and (max-width: 675px) {
  #instructions-para {
    font-size: 0.9rem;
    line-height: 23px;
  }
}

@media screen and (max-width: 600px) {
  #instructions-para {
    font-size: 0.9rem;
    line-height: 22px;
  }
}

@media screen and (max-width: 570px) {
  #instructions-para {
    font-size: 0.85rem;
    line-height: 21px;
  }
}

@media screen and (max-width: 520px) {
  #instructions-para {
    font-size: 0.82rem;
    line-height: 21px;
  }

  #task-input-top {
    width: 70%;
  }

  #task-input {
    width: 60%;
  }

  #all-tasks,
  #wrap-tasks {
    position: relative;
    width: 100%;
  }

  #wrap-add-btn #add-error {
    margin-left: -70vw;
  }
}

@media screen and (max-width: 500px) {
  .instruct-head {
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .inst-list {
    padding-left: 4%;
  }

  .inst-hotkeys {
    margin-top: 5px;
  }

  .timer-box {
    width: 100%;
    padding: 10px 21% 20px 21%;
  }

  #time-display {
    padding: 10px 10px;
  }

  .sidenav-small {
    max-width: 80%;
    padding: 0;
  }

  #edit-error {
    bottom: -15px;
  }

  #instructions-para {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .custom-btn {
    height: 40px;
    width: 130px;
    font-size: 1rem;
    margin: 8px;
  }

  .pomo-count {
    margin: 3px 3px 8px 3px;
    width: 25px;
    height: 25px;
  }

  .close {
    right: calc(0.05rem + 0.8vw);
  }

  #task-title hr {
    margin: 50px 0;
  }

  .setting-wrap {
    margin: calc(1rem - 1vw) calc(0.5rem + 1vw) calc(1.25rem - 1vw);
  }

  .settings-btns {
    margin: 0.5rem 1rem;
  }

  #welcome-para {
    font-size: calc(1rem + 0.25vw);
    line-height: calc(1.25rem + 0.25vw);
  }

  #welcome-para p {
    margin: calc(0.5rem + 0.25vw) 0 0 0;
  }
}

@media screen and (max-width: 471px) {
  #instructions-para {
    font-size: 0.7rem;
    line-height: 20px;
  }

  #time-display {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 440px) {
  .pomo-logo {
    visibility: hidden;
    width: 0;
  }

  .settings-custom-btn {
    font-size: calc(1rem + 0.5vw);
    padding: calc(1rem + 0.5vw) calc(1rem + 0.5vw);
  }
}

@media screen and (max-width: 417px) {
  #instructions-para {
    font-size: 0.7rem;
    line-height: 18px;
  }
}

@media screen and (max-width: 380px) {
  #time-display {
    font-size: 3rem;
  }

  .custom-btn {
    height: 35px;
    width: 120px;
    font-size: 0.9rem;
    margin: 7px;
  }
}

@media screen and (max-width: 365px) {
  .instruct-head {
    text-align: left;
    font-size: 1.8rem;
    padding-top: 21px;
    padding-bottom: 11px;
  }

  #instructions-para {
    font-size: 0.7rem;
    line-height: 17px;
  }
}

@media screen and (max-width: 350px) {
  #instructions-para {
    font-size: 0.7rem;
    line-height: 16px;
  }

  #task-title hr {
    margin: 60px 0;
  }

  #time-display {
    font-size: 2.8rem;
    padding: 8px;
  }
}

@media screen and (max-width: 312px) {
  .instruct-head {
    font-size: 1.5rem;
    padding-top: 23px;
    padding-bottom: 13px;
  }

  #instructions-para {
    font-size: 0.7rem;
    line-height: 15px;
  }
}

@media screen and (max-width: 280px) {
  #instructions-para {
    font-size: 0.7rem;
    line-height: 14px;
  }

  .close2 {
    top: 5.25vh;
  }
}
