/*********************
 * Styling HTML Tags *
 *********************/

/**
 * Entire document body
 */
body {
  text-align: center;
  margin: 0;
}

/******************
 * Fit one screen *
 ******************/

/**
 * Lets the container cover one entire screen
 */
.full-height {
  min-height: 100vh;
}

/**********************
 * Styling Top Header *
 **********************/

/**
 * Container for Header - includes logo and title
 */
.header-container {
  padding: 10px 0;
}

/**
 * PomoHero App Logo
 */
.pomo-logo {
  width: 60px;
  margin-left: 5px;
  padding-left: 10px;
  padding-top: 5px;
  float: left;
}

/**
 * Image of PomoHero title
 */
.banner {
  width: 250px;
  padding-top: 5px;
  margin: auto;
}

/**************************
 * Styling Navigation Bar *
 **************************/

/**
 * Container to hold all navigation bar buttons
 */
.all-btns {
  padding: 10px 0;
  text-align: right;
}

/**
 * Styling theme changing button
 */
#theme-btn {
  position: relative;
  cursor: pointer;
}

/**
 * Styling for task button
 */
#task-btn {
  padding-right: 10px;
  position: relative;
  cursor: pointer;
}

/**
 * Styling for new info button
 */
#info-btn-new {
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

/**
 * Styling for buttons in general
 */
.btn {
  background: transparent;
  border: none !important;
  opacity: 100%;
  cursor: pointer;
  font-size: 2rem;
}

/***************************
 * Styling Slide-out tasks *
 ***************************/

/**
 * Container for slide-out tasks mask
 */
 .sidenav-blocker {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/**
 * Container for slide-out tasks
 */
.sidenav {
  padding: 0 50px;
  height: 100%;
  min-height: 750px;
  display: none;
  width: 420px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  box-shadow: -0.5em 0 1em;
}

/**
 * Styling header for slide-out tasks
 */
#side-tasks div > h1 {
  font-family: 'Georgia', 'Times New Roman', serif;
  padding: 30px;
}

/**
 * Horizontal rule used to separate add and show tasks
 */
#task-title hr {
  margin: 30px 0;
  border: 1px solid;
}

#wrap-add-btn,
#wrap-check-btn {
  display: inline-block;
  position: relative;
}

#wrap-add-btn #add-error {
  visibility: hidden;
  width: auto;
  bottom: 100%;
  margin-left: -400px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

#wrap-check-btn #check-error {
  visibility: hidden;
  width: auto;
  top: 100%;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

#wrap-add-btn:hover #add-error,
#wrap-check-btn:hover #check-error {
  visibility: visible;
}

/**
 * Styling add and delete buttons
 */
#add-btn,
#delete-btn {
  position: relative;
  top: 5px;
}

/**
 * Close button inside slide-out tasks
 */
.close {
  text-decoration: none;
  position: relative;
  top: 20px;
  right: -50%;
  padding: 0 9px;
}

/**
 * Input fields in order to show and add tasks
 */
input[type=text] {
  width: 340px;
  max-width: 89%;
  margin: 5px;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}

/**
 * Container displaying all of the user tasks
 */
#all-tasks {
  margin-top: 20px;
  height: 55vh;
  width: 420px;
  overflow-y: scroll !important;
}

/**************************
 * Styling Pomodoro Timer *
 **************************/

/**
 * Outer container for Pomodoro Timer
 */
.top-container {
  margin: auto;
  height: auto;
  padding: auto;
}

/**
 * Inner container for Pomodoro Timer
 */
.main-box {
  padding: 0 0 10px 0;
  text-align: center;
}

/**
 * Container for Pomodoro Timer
 */
.timer-box {
  border-radius: 3px;
  height: auto;
  width: 450px;
  margin: 0 auto 0 auto;
  padding: 20px 100px 15px 100px;
  border: 3px solid;
}

/**
 * Message about the timer indicating works and breaks
 */
#work-message {
  font-size: 1.5rem;
  font-family: 'Georgia', 'Times New Roman', serif;
  padding-bottom: 15px;
}

/**
 * Styling for the timer
 */
#time-display {
  display: inline;
  font-size: 4rem;
  padding: 10px 30px;
  border-style: solid;
}

/**
 * Message about the number of Pomodoro Timers completed
 */
#pomos-completed {
  padding-top: 10px;
  font-family: 'Helvetica', 'Calibri', sans-serif;
  font-size: 1rem;
  margin: 25px 0 0 0;
}

/**
 * Small tomatos denoting if Pomodoro is completed
 */
.pomo-count {
  margin: 5px 5px 10px 5px;
  width: 25px;
}

/**
 * Styling Start and End buttons
 */
.custom-btn {
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  width: 150px;
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  border: 2px solid;
}

/**
 * Hiding buttons
 */
.hidden {
  display: none;
}

/**************************
 * Styling Viewable Tasks *
 **************************/

/**
 * Container for displaying current and next task
 */
.middle-container {
  padding: 0 20px 30px 10px;
  margin: auto;
  height: auto;
  font-family: 'Helvetica', 'Calibri', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

/**
 * Headers in the middle container
 */
.middle-container > h3 {
  position: relative;
}

/**
 * Fields for displaying task description
 */
.middle-container > div {
  overflow-x: auto;
  width: 450px;
  margin: 0 5px;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}

/**
 * Check button beside the current task
 */
#wrap-check-btn {
  margin-top: 2.5px;
  position: absolute;
}

#check-error {
  display: inline-block;
}

/************************
 * Styling Instructions *
 ************************/
/**
 * Container for slide-out tasks mask
 */
 .instructions-section-blocker {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  z-index: 2;
}

/**
 * Container for instructions
 */
.instructions-section {
  display: none;
  position: fixed;
  width: 80%;
  height: 90vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

/**
 * Styling the header in instructions section
 */
.instruct-head {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 0;
  padding: 15px;
  font-size: 2.5rem;
  font-family: 'Georgia', 'Times New Roman', serif;
}

/**
 * Paragraph of instructions within instructions section
 */
#instructions-para {
  padding-bottom: 20px;
  margin: auto;
  width: auto;
  max-width: 900px;
  font-family: 'Helvetica', 'Calibri', sans-serif;
  font-size: 1rem;
  text-align: left;
  align-items: left;
  line-height: 25px;
}

/**
 * Headers within the instruction para
 */
#instructions-para > h3 {
  text-align: center;
}

#instructions-para > p {
  margin: 0 20px;
}

/**
 * Specifies direction of flexible item
 */
.flex-column {
  flex-direction: column;
}

.center-align {
  width: 100%;
  height: 50px;
  text-align: right;
}

.close2 {
  text-decoration: none;
  position: relative;
  top: 20px;
  margin-right: 10px;
  padding: 0 9px;
}

/******************
 * Styling Footer *
 ******************/

/**
 * Styling the copyright in footer
 */
.copy-right {
  position: relative;
  padding: 30px;
  margin: auto;
  font-weight: 900;
  font-family: 'Helvetica', 'Calibri', sans-serif;
}

/*************************************
 * Responsiveness with media queries *
 *************************************/

/**
 * When the viewport is 900px or smaller
 */
@media screen and (max-width: 900px) {
  .timer-box {
    max-width: 50%;
  }

  .sidenav {
    max-width: 80%;
  }

  .pomo-logo {
    width: 45px;
    padding-top: 15px;
  }

  .middle-container > div {
    max-width: 80%;
  }
}

/**
 * When the viewport is 500px or smaller
 */
@media screen and (max-width: 487px) {
  .timer-box {
    width: 100%;
    padding: 10px 21% 20px 21%;
  }

  #time-display {
    padding: 10px 10px;
  }

  .sidenav {
    max-width: 80%;
    padding: 0 10%;
  }

  #all-tasks {
    max-width: 80%;
    padding: 0 10%;
  }

  .pomo-logo {
    width: 0;
  }

  #all-tasks {
    height: 50vh;
  }

  #wrap-add-btn #add-error {
    width: 93vw;
    bottom: 220%;
    margin-left: -55vw;
  }
}
