/************
 * NoScript *
 ************/

main,
footer {
  display: none;
}

noscript > div {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 30000000;
  height: 100%;
  width: 100%;
}

noscript > div > p {
  margin-top: 50px;
  font-family: 'Helvetica', 'Calibri', sans-serif;
  font-size: 1.5rem;
}

/**********************
 * Color for NoScript *
 **********************/

noscript > div {
  background-color: var(--dark-orange);
}