body {
  text-align: center;
  margin: 0;
}

hr {
  color: #76B57A;
  border-style: none;
  border-top-style: solid;
  border-width: 10px;
  opacity: 0.5;
  margin: 0;
}

h1 {
  margin: 0;
}

.pomo-logo {
  width: 70px;
  margin-left: 20px;
  float: left;
}

.banner {
  width: 250px;
  margin: 0 80px 0 0;
}

.header-container {
  background-color: #CDE8D6;
  padding: 20px 0;
}
.top-container {
  background-color: #CDE8D6;
  margin: 0 0;
  height: 550px;
  /* padding: auto auto; */
  /* position: relatve; */
}

.main-box {
  background-color: #CDE8D6;
  /* border: 100 0; */
  padding: 80px 0 80px 0;
}

.timer-section {
  background-color: #CDE8D6;
}
/* -------------------- Timer Box ---------------------------- */

.timer-box {
  background-color: #80CF98;
  /* height: 300px; */
  width: 600px;
  margin: auto;
  padding: 30px 100px 30px 100px;
  border-radius: 40px;
  /* margin-top: 50px; */
  /* need this for absolute positioning to work*/
  position: relative;
}

#work-message {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat";
  padding-bottom: 10px;
}

.timer {
  background-color: #6BA0B1;
  height: 240px;
  margin: auto;
  border-radius: 20px;
}

.pomo-count {
  width: 70px;

}

#time-display {
  font-size: 6rem;
}

#pomos-completed {
  font-size: 1.5rem;
  margin: 10px 0 0 0;
}

#start-btn {
  color: #34A364;
  margin: 30px 20px 10px 10px;
}

#end-btn {
  color:  #B32B24;
  margin: 30px 10px 10px 20px;
}

.h3-tasks {
  color: #34A364;
  font-size: 2rem;
  padding-left: 20%;
  text-align: left;
  /* float: left; */
}

#special-hr {
  /* color: #76B57A; */
  opacity: 30%;
  width: 60%;
  margin: 0 auto;
}

.middle-container {
  padding: 100px 0;
  background-color: #CDE8D6;
}
/* .pomo-complete-box {
  background-color: #6C979E;
  height: 80px;
  margin: auto;
} */
/* Mobile phone display */
.custom-btn {
   background: #E1E3CC;
   /* background-image: -webkit-linear-gradient(top, #E1E3CC, #A2A393);
   background-image: -moz-linear-gradient(top, #E1E3CC, #A2A393);
   background-image: -ms-linear-gradient(top, #E1E3CC, #A2A393);
   background-image: -o-linear-gradient(top, #E1E3CC, #A2A393); */
   background-image: -webkit-gradient(to bottom, #E1E3CC, #A2A393);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 12px;
   height: 65px;
   line-height: 50px;
   color: #FFFFFF;
   width: 200px;
   font-family: "Montserrat";
   font-size: 22px;
   font-weight: 900;
   /* padding: 7px; */
   /* box-shadow: 1px 1px 20px 0 #000000; */
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px auto;
}

.custom-btn:hover {
  opacity: 80%;
   /* border: solid #B36356 1px; */
   background: #cfc5a5;
   /* background-image: -webkit-linear-gradient(top, #B36356, #B32B24);
   background-image: -moz-linear-gradient(top, #B36356, #B32B24);
   background-image: -ms-linear-gradient(top,#B36356, #B32B24);
   background-image: -o-linear-gradient(top, #B36356, #B32B24);
   background-image: -webkit-gradient(to bottom, ##B36356, #B32B24); */
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   text-decoration: none;
}
.bottom-container {
  background-color: #80CF98;
  height: 200px;
}

.footer-link {
  font-family: "Montserrat";
  color: #34A364;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  margin: 20px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #B36356;
}

.copy-right {
  font-family: "Montserrat";
  padding-top: 80px;
  font-weight: bold;
}
/* used for hiding buttons */
.hidden{
  display: none;
}

.full-height{
  height: 100vh;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

/* Information button styling */
.info-btn{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 15px;
}

/* To accomodate for different sized viewports */

@media (max-width: 1028px) {
/*
  #title {
    text-align: center;
  } */


}
